[submodule "PipePipeClient"]
	path = PipePipeClient
	url = https://github.com/burkewade/PipePipeClient.git
[submodule "PipePipeExtractor"]
	path = PipePipeExtractor
	url = https://github.com/InfinityLoop1308/PipePipeExtractor.git
